jinja2
pyyaml
isoweek
-e git://github.com/agrausem/spyre.git#egg=spyre
-e git://github.com/agrausem/Adama.git#egg=Adama
-e git://github.com/franckcuny/http.git#egg=http
-e git://github.com/franckcuny/httpclient.git#egg=httpclient
